:root {
  --first-color-text: #212121;
  --second-color-text: #757575;
  --third-color-text: #ffffff;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", "sans serif";
  background-color: #ffffff;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.vissualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  bottom: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.hero-item-btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-color-text);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.hero-btn--all {
  margin-right: 8px;
}

.hero-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--first-color-text);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-item-btn:hover, .hero-item-btn:focus {
  color: var(--third-color-text);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.porfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

.comand__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--third-color-text);
  background-color: #2196f3;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.comand__btn:hover, .comand__btn:focus {
  background-color: #188ce8;
}

.comand__btn.submit-footer-btn {
  display: inline-flex;
  padding-left: 29px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(37, 38, 41, 0.62);
  transition: opacity 500ms linear, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
}

.modal-close:hover .social-icon-x,
.modal-close:focus .social-icon-x {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.social-icon-x {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.form-field__input {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.form-field__text {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__text:focus {
  border-color: var(--accent-color);
}

.input-wrap__input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap__input:focus {
  border-color: var(--accent-color);
}

.input-wrap__input:focus:focus + .input-wrap__icon {
  fill: var(--accent-color);
}

.input-wrap {
  position: relative;
}

.input-wrap__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deal {
  color: var(--accent-color);
}

.modal-form__check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color-text);
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__icon-check {
  fill: transparent;
}

.modal-form__policy-check:checked + .modal-form__check-text .modal-form__icon-check {
  fill: var(--third-color-text);
}

.modal-form__policy-check:checked + .modal-form__check-text span {
  border: none;
  background-color: var(--accent-color);
}

.modal-form__policy-check:checked
+ .modal-form__check-text
.modal-form__icon-check {
  fill: var(--third-color-text);
}

.networks {
  display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks__link:hover, .networks__link:focus {
  background-color: var(--accent-color);
  color: var(--third-color-text);
}

.networks__icon {
  fill: currentColor;
}

.header {
  border-bottom: 1px solid #ececec;
}

.site-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-list__item:not(:last-child) {
  margin-right: 50px;
}

.header__container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.connect {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
}

.web {
  color: var(--accent-color);
}

.site-list__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color-text);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-list__link:hover, .site-list__link:focus {
  color: var(--accent-color);
}

.connect__mail,
.connect__tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.connect__mail:hover, .connect__mail:focus,
.connect__tel:hover,
.connect__tel:focus {
  color: var(--accent-color);
}

.connect__item:not(:last-child) {
  margin-right: 30px;
}

.icon-mail,
.icon-tel {
  margin-right: 10px;
  fill: currentColor;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background-color: var(--accent-color);
  left: 0;
  bottom: 0;
}

.porfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.porfolio-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-right: 8px;
}

.list-portf {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.hero-list-img {
  margin-left: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 9 - 30px);
  background: #ffffff;
}

.hero-list-img:hover .portf-text-img {
  transform: translateY(0);
}

.portf-text-img {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--third-color-text);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link:hover, .hero-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-box {
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: 20px 24px;
}

.hero-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color-text);
  margin-bottom: 4px;
}

.hero-title {
  margin-bottom: 4px;
}

.hero-after-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container-footer {
  display: flex;
  align-items: baseline;
}

.footer-navigator {
  min-width: 231px;
}

.web1 {
  color: var(--third-color-text);
}

.logo {
  display: block;
}

.ourconnect {
  margin-top: 20px;
}

.ourconnect__map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--third-color-text);
  margin-bottom: 9px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourconnect__map:hover, .ourconnect__map:focus {
  color: rgba(255, 255, 255, 0.6);
}

.ourconnect__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourconnect__tel:hover, .ourconnect__tel:focus {
  color: var(--third-color-text);
}

.ourconnect__mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ourconnect__mail:hover, .ourconnect__mail:focus {
  color: var(--third-color-text);
}

.ourconnect__item:not(:last-child) {
  margin-bottom: 9px;
}

.join {
  margin-left: 70px;
  width: 208px;
}

.footsocials {
  display: flex;
  justify-content: center;
}

.footsocials__item:not(:last-child) {
  margin-right: 10px;
}

.footsocials__item {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footsocials__item:hover, .footsocials__item:focus {
  background-color: var(--accent-color);
  border: none;
}

.footsocials__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footsocials__link:hover, .footsocials__link:focus {
  background-color: var(--accent-color);
  border: none;
}

.footsocials__icon {
  fill: currentColor;
}

.foot-btn-icon {
  margin-left: 10px;
}

.connect-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.online__title {
  display: flex;
  margin-bottom: 20px;
}

.online__title:focus {
  border-color: var(--accent-color);
}

.btn-input {
  display: flex;
}

.footer-email-online {
  width: 570px;
  margin-left: 93px;
}

.online-email {
  outline: none;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  margin-right: 12px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.online-email:focus {
  border-color: var(--accent-color);
}

.comand {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  max-width: 1600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.comand__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--third-color-text);
  max-width: 696px;
  margin: 0 auto 30px;
}

.advantage {
  padding-top: 94px;
  padding-bottom: 94px;
}

.quality-list {
  display: flex;
  margin-right: -30px;
}

.quality-list__one {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-color-text);
  margin-bottom: 10px;
}

.quality-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
}

.quality-list__item {
  margin-right: 30px;
  width: 270px;
}

.quality-list__item::before {
  content: "";
  background-color: #f5f4fa;
  height: 120px;
  display: block;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.quality-list__item:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}

.quality-list__item:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}

.quality-list__item:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}

.quality-list__item:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}

.actions {
  padding-top: 0;
  padding-bottom: 94px;
}

.occupation-img {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 50px;
}

.occupation-list {
  display: flex;
  font-weight: wrap;
  margin-right: -30px;
}

.occupation-list__item {
  width: calc(100% / 3 - 30px);
  margin-right: 30px;
}

.occupation-list__wrap {
  position: relative;
  overflow: hidden;
}

.occupation-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  color: var(--third-color-text);
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 50px;
}

@media screen and (min-width: 480px) and (min-width: 768px) {
  .team-title {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.team-list__li {
  margin-right: 30px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team-list__li {
    width: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .team-list__li {
    width: calc(100% / 4 - 30px);
  }
}

.data__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 10px;
}

.data__job {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color-text);
  margin-bottom: 16px;
}

.data {
  background-color: var(--third-color-text);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.company {
  padding-top: 94px;
  padding-bottom: 94px;
}

.company-icon {
  fill: currentColor;
}

.titel-company {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 50px;
}

.clients {
  display: flex;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */