.hero-item-btn-all {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--third-color-text);
  background-color: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  padding: 6px 22px;
}

.hero-item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  color: var(--first-color-text);
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-color-text);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .hero-btn--all
.porfolio-list__item {
  margin-right: 8px;
}

.porfolio-list__item:not(:last-child) {
  margin-right: 8px;
}

.comand__btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--third-color-text);
  background-color: #2196f3;
  min-width: 200px;
  min-height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-left: auto;
  margin-right: auto;
  display: block;
  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}

// .foot-btn-icon {
//   margin-left: 10px;
// }

// .btn-input {
//   display: flex;
// }

.comand__btn.submit-footer-btn {
  display: inline-flex;
  padding-left: 29px;
}
