.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(37, 38, 41, 0.62);
  transition: opacity 500ms linear, visibility 500ms;
}

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 8px;
  right: 8px;
  &:hover .social-icon-x,
  &:focus .social-icon-x {
    fill: var(--accent-color);
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.social-icon-x {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-color-text);
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.form-field__input {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  margin-bottom: 4px;
}

.form-field__text {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 12px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.input-wrap__input {
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
    &:focus + .input-wrap__icon {
      fill: var(--accent-color);
    }
  }
}

.input-wrap {
  position: relative;
}

.input-wrap__icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deal {
  color: var(--accent-color);
}

.modal-form__check-text {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
}

.modal-form__check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--first-color-text);
  border-radius: 2px;
  margin-right: 8px;
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-form__icon-check {
  fill: transparent;
  .modal-form__policy-check:checked + .modal-form__check-text & {
    fill: var(--third-color-text);
  }
}

.modal-form__policy-check:checked + .modal-form__check-text span {
  border: none;
  background-color: var(--accent-color);
}

.modal-form__policy-check:checked
  + .modal-form__check-text
  .modal-form__icon-check {
  fill: var(--third-color-text);
}
