.networks {
  // display: flex;
  justify-content: center;
}

.networks__item:not(:last-child) {
  margin-right: 10px;
}

.networks__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--third-color-text);
  }
}

.networks__icon {
  fill: currentColor;
}
